@import 'bourbon/bourbon';

@mixin respond-min($size) {
  @media only screen and (min-width: $size){ @content;}
}

@import 'place';
@import 'splash';

body{
  font-size: $base-font-size;
  color:$brown;
}

html{
  min-height:100%;
}

#loader{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:#FFF url(images/loader.gif) center center no-repeat;
  background-size:128px 128px;
}


