@import 'bourbon/bourbon';

@mixin respond-min($size) {
  @media only screen and (min-width: $size){ @content;}
}

@import 'place';
@import 'splash';

body{
  font-size: $base-font-size;
  color:$brown;
}




