@import 'variables';

body {
	font-family: 'Ropa Sans', helvetica, sans-serif;
}

#place{

  position:absolute;
  top:0;
  left:0;
  right:0;
  overflow: hidden;
  background-color:white;
  padding-bottom: 2em;


  .illustration{
	width:450px;
	height:450px;
	right:25px;
	top:200px;
	position:absolute;
	background: center center no-repeat;
	background-size:contain;
  }

  .hazard{
	position: absolute;
	width:750px;
	height:750px;
	left:0;
	bottom:0;
	opacity:0.6;
	background:url(images/hazard-pink.svg) center center no-repeat;
	background-size:contain;
	@include transform(translate3d(-25%, 15%, 0));
  }

  .text-container{
	overflow: hidden;
  }

  header{
	height:150px;
	background-color:$pink;
	overflow: hidden;
	@include transition(all 0.3s ease-out);
	@include transform(translate3d(0,-100%,0));

	.logo{
	  	width:115px;
	  	height:100px;
	  	background-size: contain;
	  	float:right;
	  margin-top:25px;
	  margin-right:25px;
	  background: url(images/GPM-logo-white.svg) center center no-repeat;
	}

	.back{
	  float:left;
	  width:70px;
	  height:50px;
	  margin-left:25px;
	  margin-top:25px;
	  background-size: cover;
	  background:url(images/back-button.svg) center center no-repeat;
	}

  }
  .main-img{
	margin-top:-30px;
	width:720px;
	height:405px;
	position:relative;
	@include transition(all 0.5s linear 1s);
	opacity:0;

	@include respond-min(1024px){
	  width:720px;
	  height:405px;
	}


	img{
		position:absolute;
	  width:100%;
	  height:100%;
	  top:0;
	  left:0;

	}

	.img-bg{
	  background: url(images/hazard-purple.svg) center center no-repeat;
	  background-size:cover;
	  display:block;
	  position:absolute;
	  width:100%;
	  height:100%;
	  top:-30px;
	  left:30px;
	  opacity:0.5;
	}
  }


  h1{
	font-family: 'Six Caps', helvetica, sans-serif;
	margin:0 0 60px 110px;
	color:$pink;
	font-size:$heading-font-size;
	text-transform: uppercase;
	@include transition(all 0.75s ease-out);
	@include transform(translate3d(-75px,0,0));
  }

  .info{
	float:left;
	width:150px;
	margin:0 0 0 110px;
	@include transition(all 0.5s ease-out);
	@include transform(translate3d(-10px,0,0));

	h2{
	  margin:0 0 30px 0;
	}

	dt{
	  display:inline-block;
	  font-weight:bold;
	  margin:0 0 8px 0;
	}

	dd{
	  display: inline-block;
	  text-align:left;
	  -webkit-margin-start:0;
		margin:0 0 8px 0;
	}

  }

  .text{
	float:left;
	margin: 0 0 0 100px;
    width: 500px;
	font-size: $base-font-size;
	color:$brown;
	line-height:1.5em;
	@include transition(all 0.5s ease-out);
	@include transform(translate3d(10px,0,0));

	p:first-child{
	  margin-top:0;
	}
	  
	a {
	  background-color:$pink;
	  color:#ffffff;
		text-decoration: none;
    }
		
  }

  @include transition(all 0.5s linear);
  opacity:0;
  @include transform(translate3d(0,0,-25px));

  &.visible{
	opacity:1;
	@include transform(translate3d(0,0,0));

	& header,
	& .info,
	& .text,
	& h1{
	  @include transform(translate3d(0,0,0));
	}

	.main-img{
	  opacity: 1;
	}
  }


}
