#splash{

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

  opacity:0;

  &.visible{
	opacity:1;
  }

  .splash-container {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-image: url(images/streetscape.jpg);
  }

  .tint-overlay {
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: -webkit-linear-gradient(45deg, rgba(255,241,224,.8),rgba(199,178,153,.8)); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(45deg, rgba(255,241,224,.8),rgba(199,178,153,.8)); /* Standard syntax */
  }

  .flex-container {
	height:100%;
	width:100%;
	position: absolute;
	left: 0;
	top:0;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .GPM-logo-container {
	width:100%;
	max-width:500px;

	img{
	  width:100%;
	  height:auto;
	}
  }




  .input-container {
	width:100%;
	box-sizing: border-box;
	max-width:500px;
	position: relative;
  }

  input {
	border:1px #999999 solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:40px;
	width:100%;
	max-width:467px;
	padding:5px 15px;
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	color:#999999;
  }

  .go-button {
	background: url(images/go-button2.png) no-repeat;
	position:absolute;
	top: 6px;
	right: 8px;
	z-index: 20;
	width:40px;
	height:40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  }

  @include transition(all 0.5s linear);
  opacity:0;

  &.visible{
	opacity:1;
  }

  ul.suggestions{
	margin:0;
	padding:0;
	border:1px #999999 solid;
	border-radius: 5px;
	list-style-type: none;

	li{
	  box-sizing: border-box;
	  padding:0.5em;
	  background-color:white;
	  border-top:1px #999 solid;

	  &:first-child{
		border:0;
	  }
	}

  }


}
