#place {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: white;
  padding-bottom: 2em;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, -25px);
  -ms-transform: translate3d(0, 0, -25px);
  transform: translate3d(0, 0, -25px); }
  #place .illustration {
    width: 450px;
    height: 450px;
    right: 25px;
    top: 200px;
    position: absolute;
    background: center center no-repeat;
    background-size: contain; }
  #place header {
    height: 150px;
    background-color: #D4145A;
    overflow: hidden; }
    #place header .logo {
      width: 115px;
      height: 100px;
      background-size: contain;
      float: right;
      margin-top: 25px;
      margin-right: 25px;
      background: url(images/GPM-logo-white.svg) center center no-repeat; }
    #place header .back {
      float: left;
      width: 70px;
      height: 50px;
      margin-left: 25px;
      margin-top: 25px;
      background-size: cover;
      background: url(images/back-button.svg) center center no-repeat; }
  #place .main-img {
    margin-top: -30px;
    width: 720px;
    height: 405px;
    position: relative; }
    @media only screen and (min-width: 1024px) {
      #place .main-img {
        width: 720px;
        height: 405px; } }
    #place .main-img img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    #place .main-img .img-bg {
      background: url(../images/hazard-purple.svg) center center no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -30px;
      left: 30px;
      opacity: 0.5; }
  #place h1 {
    margin: 20px 0 60px 110px;
    color: #D4145A;
    font-size: 4.85714em; }
  #place .info {
    float: left;
    width: 150px;
    margin: 0 0 0 110px; }
    #place .info h2 {
      margin: 0 0 30px 0; }
    #place .info dt {
      display: inline;
      font-weight: bold; }
    #place .info dd {
      display: inline;
      text-align: left;
      -webkit-margin-start: 0; }
  #place .text {
    float: left;
    width: 350px;
    font-size: 14px;
    color: #534741;
    line-height: 1.5em; }
    #place .text p:first-child {
      margin-top: 0; }
  #place.visible {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

#splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0; }
  #splash.visible {
    opacity: 1; }
  #splash .splash-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(images/streetscape.jpg); }
  #splash .tint-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(255, 241, 224, 0.8), rgba(199, 178, 153, 0.8));
    /* For Safari 5.1 to 6.0 */
    background: linear-gradient(45deg, rgba(255, 241, 224, 0.8), rgba(199, 178, 153, 0.8));
    /* Standard syntax */ }
  #splash .flex-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #splash .GPM-logo-container {
    width: 500px;
    height: 550px; }
  #splash .input-container {
    width: 500px;
    position: relative; }
  #splash input {
    border: 1px #999999 solid;
    border-radius: 5px;
    height: 40px;
    width: 467px;
    padding: 5px 15px;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #999999; }
  #splash .go-button {
    background: url(images/go-button2.png) no-repeat;
    position: absolute;
    top: 6px;
    right: 8px;
    z-index: 20;
    width: 40px;
    height: 40px;
    border-radius: 5px; }
  #splash.visible {
    opacity: 1; }

body {
  font-size: 14px; }
