body {
  font-family: 'Ropa Sans', helvetica, sans-serif; }

#place {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: white;
  padding-bottom: 2em; }
  #place header {
    height: 150px;
    background-color: #d4145a;
    overflow: hidden; }
    #place header .logo {
      width: 115px;
      height: 100px;
      background-size: contain;
      float: right;
      margin-top: 25px;
      margin-right: 25px;
      background: url(images/GPM-logo-white.svg) center center no-repeat; }
    #place header .back {
      float: left;
      width: 70px;
      height: 50px;
      margin-left: 25px;
      margin-top: 25px;
      background-size: cover;
      background: url(images/back-button.svg) center center no-repeat; }
  #place .main-img {
    margin-top: -30px;
    width: 720px;
    height: 405px;
    position: relative; }
    @media only screen and (min-width: 1024px) {
      #place .main-img {
        width: 720px;
        height: 405px; } }
    #place .main-img img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    #place .main-img .img-bg {
      background: url(images/hazard-purple.svg) center center no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -30px;
      left: 30px;
      opacity: 0.5; }
  #place h1 {
    font-family: 'Six Caps', helvetica, sans-serif;
    margin: 0 0 60px 110px;
    color: #d4145a;
    font-size: 5.55556em;
    text-transform: uppercase; }
  #place .info {
    float: left;
    width: 150px;
    margin: 0 0 0 110px; }
    #place .info h2 {
      margin: 0 0 30px 0; }
    #place .info dt {
      display: inline;
      font-weight: bold; }
    #place .info dd {
      display: inline;
      text-align: left;
      -webkit-margin-start: 0; }
  #place .text {
    float: left;
    width: 350px;
    font-size: 18px;
    color: #534741;
    line-height: 1.5em; }
    #place .text p:first-child {
      margin-top: 0; }

body {
  font-size: 18px;
  color: #534741; }
