body {
  font-family: 'Ropa Sans', helvetica, sans-serif; }

#place {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: white;
  padding-bottom: 2em;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, -25px);
  -ms-transform: translate3d(0, 0, -25px);
  transform: translate3d(0, 0, -25px); }
  #place .illustration {
    width: 450px;
    height: 450px;
    right: 25px;
    top: 650px;
    position: absolute;
    background: center center no-repeat;
    background-size: contain; }
    @media only screen and (min-width: 1024px) {
      #place .illustration {
        top: 200px; } }
  #place .hazard {
    position: absolute;
    width: 750px;
    height: 750px;
    left: 0;
    bottom: 0;
    opacity: 0.6;
    background: url(images/hazard-pink.svg) center center no-repeat;
    background-size: contain;
    -webkit-transform: translate3d(-25%, 15%, 0);
    -ms-transform: translate3d(-25%, 15%, 0);
    transform: translate3d(-25%, 15%, 0); }
  #place .text-container {
    overflow: hidden;
    position: relative;
    z-index: 10; }
  #place header {
    height: 150px;
    background-color: #D4145A;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
    #place header .logo {
      width: 115px;
      height: 100px;
      background-size: contain;
      float: right;
      margin-top: 25px;
      margin-right: 10px;
      background: url(images/GPM-logo-white.svg) center center no-repeat; }
      @media only screen and (min-width: 1024px) {
        #place header .logo {
          margin-right: 25px; } }
    #place header .back {
      float: left;
      width: 70px;
      height: 50px;
      margin-left: 10px;
      margin-top: 25px;
      background-size: cover;
      background: url(images/back-button.svg) center center no-repeat; }
      @media only screen and (min-width: 1024px) {
        #place header .back {
          margin-left: 25px; } }
  #place .main-img {
    margin-top: -30px;
    width: 720px;
    height: 405px;
    margin-top: 20px;
    position: relative;
    -webkit-transition: all 0.5s linear 1s;
    transition: all 0.5s linear 1s;
    opacity: 0; }
    @media only screen and (min-width: 1024px) {
      #place .main-img {
        width: 720px;
        height: 405px;
        margin-top: 0; } }
    #place .main-img img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    #place .main-img .img-bg {
      background: url(images/hazard-purple.svg) center center no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -30px;
      left: 30px;
      opacity: 0.5; }
  #place h1 {
    font-family: 'Six Caps', helvetica, sans-serif;
    margin: 0 0 30px 10px;
    color: #D4145A;
    font-size: 5.55556em;
    text-transform: uppercase;
    -webkit-transition: all 0.75s ease-out;
    transition: all 0.75s ease-out;
    -webkit-transform: translate3d(-75px, 0, 0);
    -ms-transform: translate3d(-75px, 0, 0);
    transform: translate3d(-75px, 0, 0); }
    @media only screen and (min-width: 1024px) {
      #place h1 {
        margin-left: 110px; } }
  #place .info {
    float: left;
    width: 150px;
    margin: 0 0 0 10px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
    @media only screen and (min-width: 1024px) {
      #place .info {
        margin-left: 110px; } }
    #place .info h2 {
      margin: 0 0 30px 0; }
    #place .info dt {
      display: inline-block;
      font-weight: bold;
      margin: 0 0 8px 0; }
    #place .info dd {
      display: inline-block;
      text-align: left;
      -webkit-margin-start: 0;
      margin: 0 0 8px 0; }
  #place .text {
    float: left;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    color: #534741;
    line-height: 1.5em;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
    @media only screen and (min-width: 768px) {
      #place .text {
        float: left;
        margin: 0 0 0 100px;
        padding: 0;
        width: 500px; } }
    #place .text p:first-child {
      margin-top: 0; }
    #place .text a {
      background-color: #D4145A;
      color: #ffffff;
      text-decoration: none; }
  #place.visible {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    #place.visible header, #place.visible .info, #place.visible .text, #place.visible h1 {
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    #place.visible .main-img {
      opacity: 1; }

#splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0; }
  #splash.visible {
    opacity: 1; }
  #splash .splash-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(images/streetscape.jpg); }
  #splash .tint-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgba(255, 241, 224, 0.8), rgba(199, 178, 153, 0.8));
    /* For Safari 5.1 to 6.0 */
    background: linear-gradient(45deg, rgba(255, 241, 224, 0.8), rgba(199, 178, 153, 0.8));
    /* Standard syntax */ }
  #splash .flex-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #splash .GPM-logo-container {
    width: 100%;
    max-width: 500px; }
    #splash .GPM-logo-container img {
      width: 100%;
      height: auto; }
  #splash .input-container {
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
    position: relative; }
  #splash input {
    border: 1px #999999 solid;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    max-width: 467px;
    padding: 5px 15px;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #999999; }
  #splash .go-button {
    background: url(images/go-button2.png) no-repeat;
    position: absolute;
    top: 6px;
    right: 8px;
    z-index: 20;
    width: 40px;
    height: 40px;
    border-radius: 5px; }
  #splash.visible {
    opacity: 1; }
  #splash ul.suggestions {
    margin: 0;
    padding: 0;
    border: 1px #999999 solid;
    border-radius: 5px;
    list-style-type: none; }
    #splash ul.suggestions li {
      box-sizing: border-box;
      padding: 0.5em;
      background-color: white;
      border-top: 1px #999 solid; }
      #splash ul.suggestions li:first-child {
        border: 0; }

body {
  font-size: 18px;
  color: #534741; }

html {
  min-height: 100%; }

#loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #FFF url(images/loader.gif) center center no-repeat;
  background-size: 128px 128px; }
